
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');



body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
body {
	background-color: #fff;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 13pt;
	color: #696969;
	font-weight: 300;
	line-height: 2.25em;
}

a {
	color: inherit;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #160000;
	font-weight: 400;
}


h1 {
	font-size: 50px;
}
h2 {
	font-size: 30px;
	/* text-align: center; */
}

/* Logo */
#logo {
	display: inline-block;
	vertical-align:middle;
}

	#logo h1 {
		background: #fff;
		color: #000;
		font-family: 'Red Hat Display', serif;
		font-weight: 400;
		font-size: 18px;
		display: inline-block;
		padding-bottom: 10px;
	}

/* Header */

#header {
	align-items: center;
	background-color: white;
	display: flex;
	height: 60px;
	position:relative;
	box-shadow: 0 2px 5px -5px gray;
	width: auto;
	text-align: center;
	font-size:18px;
	padding-left: 25px;
}

/* Nav */

#nav {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 14px;
	padding-right: 25px;
}

	#nav ul {
		list-style: none;
		padding-left: 0;
	}

		#nav ul li {
			float: left;
			padding-left: 1.5em;
		}

			#nav ul li a, #nav ul li span {

				font-weight: 500;
				letter-spacing: 0.025em;
				color: #094175;
				text-decoration: none;
				border-radius: 6px;
				padding: 0.5em 1em 0.5em 1em;
			}

/* Welcome Box*/
#welcome {
	text-align: center;
	vertical-align: middle;
	padding-top:80px;
	height:400px;
}


#welcome-image {
	float:left;
	width: 400px;
	margin-left: 10%;
}

#welcome-text {
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: auto;
	padding-bottom:50px;
}

@media screen and (max-width: 1026px) {
	#welcome-image {
		display: none;
	}
}

#template-button {
	color:#fff;
	position:relative;
	display: inline-block;
	width: 200px;
	height: 50px;
	background-color: #FD7D54;
	border-radius: 6px;
	padding-top:10px;
	font-size:25px;
}

/* Why Section */
#why-section {
	height: 525px;
	padding: 30px 20px 30px 20px;
	background-color: #FEECCA;
	text-align: left;
	vertical-align: middle;
	position: relative;
}

#why-section p {
	padding-left: 25px;
	font-size: 25px;
}

#why-inner-box {
	height: 470px;
	padding: 20px 20px 20px 30px;
	background-color: #fff;
	position:relative;
	border-radius: 49px;
}

#why-picture {
	position:absolute;
	max-width: 100%;
	z-index:9;
	left:75%;
	top:375px;
}

/* How Section */
#how-section {
	height: 550px;
	background-color: #FFF;
	text-align: left;
	padding-top: 86px;
	vertical-align: middle;
	position: relative;
}

#how-section p {
	font-size: 25px;
}

#how-inner-box1 {
	height: 450px;
	padding: 20px 20px 20px 30px;
	background-color: #71BBFF;
	position:relative;
}

#how-inner-box2 {
	height: 400px;
	padding: 20px 20px 20px 30px;
	background-color: #fff;
	position:relative;
	border-radius: 49px;
}


/* About Us*/
.photo {
	display: inline-block;
	position:relative;
	padding: 50px 50px 50px 50px;
}

.about-section {
	display: inline-block;
	position:relative;
	width: 700px;
	padding: 50px 25px 0 25px;
	text-align: left;
	vertical-align: top;
	line-height: normal;
}


#about-us {
	background-image: url( ../images/blue-blob.png);
	background-repeat: no-repeat;
	background-size:700px
}

#who-title {
	padding: 150px 0 75px 150px;
}

/* Word Grid */

.word-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  padding: 2rem 4rem 4rem 4rem;
}

.word-grid__word-card {
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  background-color: #FFF;
  color: #160000;
  text-align: center;
}

.word-grid__word-text {
  padding: 0 0.5rem 1rem 0.5rem;
  vertical-align:middle;
  margin-top:0;
}

.js-remove-button {
	background-color: #fff;
	border: 2px solid #E5E5E5;
	border-radius: 5px;
	display:inline;
	margin-left:85%;
	color: #E5E5E5;
}

#download-button {
	color:#fff;
	position:relative;
	display: block;
	width: 200px;
	height: 50px;
	background-color: #FD7D54;
	border-radius: 6px;
	border:none;
	font-size:25px;
	font-weight:50;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
	padding: 0 5px 0 5px;
}

#new-set-button {
	color:#fff;
	position:relative;
	display:block;
	width: 200px;
	height: 50px;
	background-color: #349BFA;
	border-radius: 6px;
	border:none;
	font-size:25px;
	font-weight:50;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
	padding: 0 5px 0 5px;
}

#get-started-button {
	color:#fff;
	position:relative;
	display:block;
	width: 200px;
	height: 50px;
	background-color: #71BBFF;
	border-radius: 6px;
	border:none;
	font-size:25px;
	text-align: center;
	margin-left: 450px;
	margin-right:auto;
	margin-bottom:50px;
	z-index: 11;
}

.card-view-button {
	display:grid;
	grid-template-columns: repeat(2, 50px);
	grid-gap: 2px;
	margin-left: 85%;
	width:fit-content;
	vertical-align: middle;
}

#card-view {
	background-image: url('../images/card1.png');
	background-size:contain;
	background-repeat: no-repeat;
	background-color: white;
	border: none;
	height:38px;
	margin-top:5px;
}

#grid-view {
	background-image:url("../images/card2.png");
	background-size:cover;
	background-color: white;
	border: none;
	height:38px;
	background-repeat: no-repeat
}

@media (max-width: 1200px) {
  .word-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  html {
    font-size: 57.5%;
  }

  .word-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}